<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dab.just">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application>
        <activity
            android:name=".activity.SelectPhotoDialogActivity"
            android:theme="@style/Dialog"/>
        <activity
            android:name=".activity.UpgradeVersionActivity"
            android:theme="@style/Dialog"/>
        <activity
            android:name=".activity.SelectVideoDialogActivity"
            android:theme="@style/Dialog"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.ImagePagerActivity"/>
        <activity android:name=".activity.ScanQrActivity"/>
        <activity android:name=".activity.RTFViewActivity"/>
        <service android:name=".service.JustService"/>
    </application>
</manifest>
